.booking-page {
  width: 90%;
  margin: 20px auto;
  min-height: 100vh;
  color: var(--text-color);
}

.booking-page h3 {
  margin: 12px 0;
}

.booking-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.left-section {
  width: 40%;
  margin-right: 20px;
}

.right-section {
  width: 55%;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  margin-bottom: 6px;
}

.booking-page input[type="text"],
.booking-page input[type="tel"],
.booking-page input[type="email"],
.booking-page input[type="number"],
.booking-page input[type="date"],
.booking-page select,
.booking-page textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 140px;
}

.booking-btn-container {
  display: flex;
  justify-content: center;
}

.booking-btn {
  background-color: var(--button-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
}

.booking-btn:hover {
  background-color: var(--hover-color);
}

.payment-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.booking-menu-items {
  background-color: #fff;
  max-height: 270px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.booking-menu-items p {
  margin-bottom: 10px;
}

.booking-food-list {
  display: flex;
  flex-direction: column;
}

.booking-food-item {
  padding: 0px 10px;
  border-bottom: 1px solid #e9ecef;
}

.booking-food-item:last-child {
  border-bottom: none;
}

.booking-food-item:hover {
  background-color: #e9ecef;
}

.booking-page .food-item {
  border: none;
  padding: 0;
}

.booking-page .drink-item {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-drink-item-choose {
  width: 80%;
}

.drink-items .input-quantity {
  height: 80%;
  width: 20% !important;
}

.booking-page .service-item {
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.booking-menu-items input[type="checkbox"] {
  margin-right: 8px;
}

.total-select {
  list-style: none;
  font-weight: bold;
}

.booking-loading-more {
  width: 100%;
  padding: 10px;
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 10px;
}

.selected-items {
  height: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
}

.selected-items div {
  width: 30%;
}

.selected-items li {
  margin: 5px;
}

.hall-price {
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .booking-container,
  .selected-items {
    display: block;
  }

  .booking-container .left-section,
  .booking-container .right-section {
    width: 100%;
  }

  .selected-items div {
    width: 100%;
  }
}
