body,
html {
  height: 100%;
  margin: 0;
  background-color: var(--primary-color) !important;
}

.carousel-container,
.carousel-container * {
  user-select: none;
  -webkit-user-drag: none;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.carousel {
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.carousel-item img {
  object-fit: cover;
  pointer-events: none;
}

.carousel-caption.caption {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 0;
}

.carousel-caption.caption h3 {
  font-size: 24px;
  margin: 0;
  padding: 5px 0;
}

.carousel-caption.caption p {
  font-size: 12px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.reason-title {
  margin: 30px 10px;
}

.reason-card img {
  border-radius: 0;
  padding: 4px;
}

.reason-card .card-title {
  font-size: 1.2rem;
  color: var(--button-color);
}

.reason-card .card-body {
  margin-bottom: 12px;
}

.luxury-hall {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("https://res.cloudinary.com/dkmurrwq5/image/upload/v1724912986/sk8avxmqsgsruinr0vpd.webp");
  background-size: cover;
  background-position: center;
  margin: 40px 0;
}

.luxury-hall .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(209, 200, 200),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}

.luxury-hall .title {
  font-size: 2rem;
  font-weight: bold;
}

.luxury-hall .description {
  font-size: 1.2rem;
}

.luxury-hall-btn {
  padding: 10px 20px;
  background-color: var(--button-color);
  border: none;
  margin-top: 15px;
}

@media (max-width: 1024px) {
  .luxury-hall .luxury-hall-btn {
    width: 20%;
    padding: 20px 10px;
  }

  .reason-card img {
    padding: 20px;
  }

  .reason-title {
    font-size: 28px;
  }

  .reason-card .card-title {
    font-size: 1.4rem;
  }

  .reason-card .card-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  
  .reason-card img {
    width: 100%;
  }

  .reason-card .card-title {
    font-size: 1rem;
  }

  .reason-card .card-text {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

  .reason-card .card-body {
    margin-bottom: 8px;
    padding: 0 20px;
  }

  .luxury-hall .luxury-hall-btn {
    width: 30%;
    padding: 10px 10px;
  }

  .carousel-caption.caption h3 {
    font-size: 0.7rem;
  }

  .carousel-caption.caption p {
    font-size: 0.5rem;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px;
  }

  .reason-title {
    font-size: 20px;
  }

  .luxury-hall .title {
    font-size: 1.2rem;
  }

  .luxury-hall .description {
    font-size: 1rem;
  }
}
