body,
html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-container {
  width: 85%;
  max-width: 1200px;
  height: 90%;
  display: flex;
  flex-direction: row;
  /* background-color: #fff; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-image {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}

.login-image .image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.login-form {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: rgb(111, 104, 104);
}

h2 {
  margin-bottom: 1rem;
}

.social-login {
  display: flex;
  gap: 1rem;
}

.social-login .btn {
  flex: 1;
}

.mt-3 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
