.footer {
  background-color: #519197;
  color: #ffffff;
  padding-top: 20px;
}

.footer-logo-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer-logo {
  max-width: 250px;
}

.contact-info {
  color: var(--text-color);
  padding-top: 20px;
  text-align: center;
}

.contact-info h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 10px;
}

.footer-col {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col h5 {
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-col p,
.footer-col .nav-link {
  color: var(--text-color);
  margin-bottom: 10px;
}

.footer-col .nav-link {
  color: #fff;
  display: block;
}

.footer-col .nav-link:focus {
    color: var(--text-color);
}

.footer-col .nav-link:hover {
    color: var(--text-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons .nav-link {
  font-size: 18px;
}

.social-icons .nav-link:hover .social-icon {
    transform: scale(1.1);
    filter: brightness(1.2);
  }

.footer-copy {
  font-size: 13px;
  color: #b5b5b5;
  text-align: center;
  margin: 0 0 10px;
}
