html,
body {
  color: var(--text-color);
}

.menu-container {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.food-section {
  padding: 20px;
}

.food-type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.food-type-chip {
  background-color: var(--button-color);
  border: var(--hover-color);
  color: white;
  padding: 10px 15px;
  min-width: 100px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.food-list, .drink-list {
  min-height: 1150px;
}

.food-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.food-item:last-child {
  border-bottom: none;
}

.drink-section {
  padding: 20px;
}

.sort-drink {
  margin: 5px 0;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

.drink-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.drink-item:last-child {
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  background-color: var(--button-color);
  color: white;
}

.nav-tabs .nav-link {
  color: var(--text-color);
}

.nav-tabs .nav-link:hover {
  background-color: var(--hover-color);
}

.card-img-top {
  border-radius: 10px;
  margin: 10px auto;
  width: 90%;
  height: auto;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.search-container .search-input {
  border-radius: 10px;
}

.vegetarian-tag {
  position: absolute;
  top: 10px;
  right: 22px;
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  border-radius: 0 10px 0 5px;
  font-size: 12px;
}

.pagination .page-item.active .page-link {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: #fff;
}

.pagination .page-link {
  color: var(--text-color);
}

.pagination .page-link:hover {
  color: var(--dark-color);
}