.stat-title {
    text-align: center;
    margin-top: 20px;
}

.stat-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    min-height: 100vh;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    flex: 1;
    margin-right: 10px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.loading {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

.stat-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.stat-table th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.stat-table th {
    background-color: var(--button-color);
    color: white;
}

.stat-table tbody tr:hover {
    background-color: #f1f1f1;
}

.chart-container {
    margin-top: 20px;
}

.export-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }

.export-buttons button {
    padding: 10px;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.export-buttons button:hover {
    background-color: var(--hover-color);
}

.table-title {
    margin-top: 30px;
}