body,
html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.login-container {
  width: 85%;
  max-width: 1200px;
  height: 90%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-image {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}

.login-image .image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.login-form {
  width: 80%;
  height: 80%;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form h2 {
  margin-bottom: 1.5rem;
}

form .form-control {
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
}

.login-form button[type="submit"] {
  border-radius: 20px;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: var(--button-color);
  border-color: #519197;
}

.login-form button[type="submit"]:hover {
  background-color: #519197;
  border-color: #519197;
}

.login-form button[type="submit"]:active {
  background-color: var(--button-color);
}

.social-login {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-login .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 10px;
  background-color: #f0f0f0;
  border: 1px solid #fff5f5;
}

.social-login .btn:hover {
  background-color: #fff5f5;
  border: none;
}

.social-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.forgot-password {
  margin-top: 10px;
}

.create-account {
  margin-top: auto;
}

.login-form a {
  text-decoration: none;
  color: var(--text-color);
}

.login-form a:hover {
  color: var(--dark-color);
}

.password-container {
  position: relative;
}

.password-container .form-control {
  padding-right: 2.5rem;
}

.password-container .password-toggle:hover {
  color: #519197;
}

.password-container .password-toggle:active {
  color: var(--button-color) !important;
}

.password-container .password-toggle {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--button-color);
  border: none;
  background: transparent;
}
